* {
    box-sizing: border-box;
}
.txt {
    display: inline block;
    padding-top: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 6px;
    background-color: hsl(211,100%,50%);
    border-color: hsl(211, 100%, 50%);
    font-family: 'Roboto', sans-serif;
}